<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="ASOSProget" value="https://proget.services.kingsway.asos.com:8080/nuget/ASOS/" />
        <add key="ASOSPackages" value="https://proget.services.kingsway.asos.com:8080/nuget/ASOSPackages/" />
    </packageSources>
    <packageSourceCredentials>
        <ASOSProget>
            <add key="Username" value="ASSEENONSCREEN\lewis.prescott" />
            <add key="ClearTextPassword" value="Nopu5912@" />
        </ASOSProget>
        <ASOSPackages>
            <add key="Username" value="ASSEENONSCREEN\lewis.prescott" />
            <add key="ClearTextPassword" value="Nopu5912@" />
        </ASOSPackages>
    </packageSourceCredentials>
</configuration>